@font-face {
  font-family: 'Street';
  src: url('/font/street.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

html {
  font-family: 'Street';
  background-image: url('/img/fondo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2 {
  text-align: center;
  color: crimson;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 28px;
}

/*TABLE*/
table,
form {
  border: 10px outset RGB(237, 175, 5);
  border-radius: 10px;
  background-color: black;
}

table {
  margin: 0 auto;
  width: 600px;
  height: 800px;
  color: darkorange;
}

td {
  width: 40px;
  height: 45px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.table_cabecera {
  background-image: url('/img/fondocabecera.jpg');
  text-align: center;
  background-size: cover;
  color: whitesmoke;
  opacity: 0.5;
  font-size: 40px;
}

/* FORM */

form {
  width: 600px;
  height: 1100px;
  margin: 0 auto;
  font-size: 16px;
  font-family: Verdana;
  color: white;
}

legend {
  font-family: 'Street';
  font-size: 14px;
  color: darkorange;
}
fieldset {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

#dpostal input {
  display: inline;
}
input {
  display: block;
}

input[type='radio'] {
  display: inline;
}

textarea {
  width: 560px;
}

.form_buttons {
  margin-top: 10px;
  text-align: center;
}

button {
  border: 1px solid crimson;
  background-color: crimson;
  font-family: 'Street';
  font-size: 18px;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 65px;
}
